<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header bg-secondary">
          <h3 class="text-center text-white font-weight-light my-1">Login</h3>
        </div>
        <div class="card-body">
          <app-messages
            *ngIf="alert.message"
            [alert]="alert"
            (onClearAlert)="onClearAlert.emit()">
          </app-messages>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit.emit()" autocomplete="off">
            <div class="form-group">
              <label class="small mb-1" for="email">Email</label>
              <input
                class="form-control py-4"
                [ngClass]="{ 'is-invalid': wasSent && loginForm.controls.email.errors }"
                inputFocus
                id="email"
                type="text"
                placeholder="Informe seu email"
                formControlName="email">
                <div *ngIf="wasSent && loginForm.controls.email.errors" class="invalid-feedback">
                  <div *ngIf="loginForm.controls.email.errors.required || loginForm.controls.email.errors.email">
                    Informe seu email corretamente
                  </div>
                </div>
            </div>
            <div class="form-group">
              <label class="small mb-1" for="password">Senha</label>
              <input
                class="form-control py-4"
                [ngClass]="{ 'is-invalid': wasSent && loginForm.controls.password.errors }"
                id="password"
                type="password"
                placeholder="Informe a senha"
                formControlName="password">
                <div *ngIf="wasSent && loginForm.controls.password.errors" class="invalid-feedback">
                  <div *ngIf="loginForm.controls.password.errors.required">
                    Informe a senha
                  </div>
                </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input"
                  id="rememeber_me"
                  type="checkbox"
                  formControlName="remember_me">
                <label class="custom-control-label" for="rememeber_me">Lembrar senha</label>
              </div>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
              <a class="small" routerLink="/auth/forgot-password">Esqueceu a senha?</a>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
            <div class="small">
              <a routerLink="/auth/register">Precisa de uma conta? Criar conta!</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
