<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Password Recovery</h3>
        </div>
        <div class="card-body">
          <div class="small mb-3 text-muted">
            Enter your email address and we will send you a link to reset your password.
          </div>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit.emit()">
            <div class="form-group">
              <label class="small mb-1" for="email">Email</label>
              <input
                class="form-control py-4"
                [ngClass]="{ 'is-invalid': wasSent && forgotPasswordForm.controls.email.errors }"
                id="email"
                type="text"
                placeholder="Enter email address"
                formControlName="email">
              <div *ngIf="wasSent && forgotPasswordForm.controls.email.errors" class="invalid-feedback">
                <div *ngIf="forgotPasswordForm.controls.email.errors.required || forgotPasswordForm.controls.email.errors.email">
                  Enter email address
                </div>
              </div>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
              <a class="small" routerLink="/auth/login">Return to login</a>
              <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <div class="small">
            <a routerLink="/auth/register">Need an account? Sign up!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
