<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header bg-secondary">
          <h3 class="text-center text-white font-weight-light my-1">Redefinir Senha</h3>
        </div>
        <div class="card-body">
          <div class="small mb-3 text-muted">
            Informe seu email para enviarmos um link para redefinir sua senha.
          </div>
          <app-messages
            *ngIf="alert.message"
            [alert]="alert"
            (onClearAlert)="onClearAlert.emit()">
          </app-messages>
          <form
            *ngIf="!alert.message || (alert.message && alert.class == 'alert-danger')"
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="onSubmit.emit()"
            autocomplete="off">
            <div class="form-group">
              <label class="small mb-1" for="email">Email</label>
              <input
                class="form-control py-4"
                [ngClass]="{ 'is-invalid': wasSent && forgotPasswordForm.controls.email.errors }"
                inputFocus
                id="email"
                type="text"
                placeholder="Informe seu email"
                formControlName="email">
              <div *ngIf="wasSent && forgotPasswordForm.controls.email.errors" class="invalid-feedback">
                <div *ngIf="forgotPasswordForm.controls.email.errors.required || forgotPasswordForm.controls.email.errors.email">
                  Informe seu email
                </div>
              </div>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
              <a class="small" routerLink="/auth/login">Retornar para login</a>
              <button type="submit" class="btn btn-primary">Redefinir Senha</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <div class="small">
            <a routerLink="/auth/register">Precisa de uma conta? Criar conta!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
