<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header bg-secondary text-center">
          <h3 class="text-white font-weight-light my-1">Criar Conta</h3>
          <small class="text-white">Preencha todos os campos</small>
        </div>
        <div class="card-body">
          <app-messages
            *ngIf="alert.message"
            [alert]="alert"
            (onClearAlert)="onClearAlert.emit()">
          </app-messages>
          <form
            *ngIf="!alert.message || (alert.message && alert.class == 'alert-danger')"
            [formGroup]="registerForm"
            (ngSubmit)="onSubmit.emit()"
            autocomplete="off">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="small mb-1" for="name">Nome</label>
                  <input
                    class="form-control py-4"
                    [ngClass]="{ 'is-invalid': wasSent && registerForm.controls.name.errors }"
                    inputFocus
                    id="name"
                    type="text"
                    placeholder="Informe seu nome"
                    formControlName="name">
                    <div *ngIf="wasSent && registerForm.controls.name.errors" class="invalid-feedback">
                      <div *ngIf="registerForm.controls.name.errors.required">
                        Informe seu nome
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="small mb-1" for="email">Email</label>
                  <input
                    class="form-control py-4"
                    [ngClass]="{ 'is-invalid': wasSent && registerForm.controls.email.errors }"
                    id="email"
                    type="text"
                    placeholder="Informe seu email"
                    formControlName="email">
                    <div *ngIf="wasSent && registerForm.controls.email.errors" class="invalid-feedback">
                      <div *ngIf="registerForm.controls.email.errors.required || registerForm.controls.email.errors.email">
                        Informe seu email corretamente
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="small mb-1" for="password">Senha <small>(mínimo 8 caracteres)</small></label>
                  <input
                    class="form-control py-4"
                    [ngClass]="{ 'is-invalid': wasSent && registerForm.controls.password.errors }"
                    id="password"
                    type="password"
                    placeholder="Informe a senha"
                    formControlName="password">
                    <div *ngIf="wasSent && registerForm.controls.password.errors" class="invalid-feedback">
                      <div *ngIf="registerForm.controls.password.errors.required">
                        Informe a senha
                      </div>
                      <div *ngIf="registerForm.controls.password.errors.minlength">
                        Senha deve possuir no mínimo 8 caracteres
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="small mb-1" for="password_confirmation">Confirme a senha</label>
                  <input
                    class="form-control py-4"
                    [ngClass]="{ 'is-invalid': wasSent && registerForm.controls.password_confirmation.errors }"
                    id="password_confirmation"
                    type="password"
                    placeholder="Confirme a senha"
                    formControlName="password_confirmation">
                  <div *ngIf="wasSent && registerForm.controls.password_confirmation.errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls.password_confirmation.errors.required">
                      Confirme a senha
                    </div>
                    <div *ngIf="registerForm.controls.password_confirmation.errors.passwordsMatch">
                      Senhas não conferem
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mt-4 mb-0">
              <button type="submit" class="btn btn-primary btn-block">Criar Conta</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <div class="small">
            <a routerLink="/auth/login">Possui conta? Login!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
